{% extends 'base.html' %}

{% block content %}
<style>
    .room-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right; 
        margin-top: 20px; 
        margin-right: 30px;

    }

    .room-list li {
        display: inline-block;
        margin-right: 10px;
        background-color: #f0f0f0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .room-list li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .room-list li a:hover {
        color: #0066cc;
    }

    .room-name {
        color: #333; 
        font-size: 2em; 
        margin-top: 10px; 
        margin-left: 15%;
        font-weight: bold; 
        text-transform: uppercase; 
    }

    #calendar-container {
        width: 70% !important; 
        margin: 20px auto !important; 
        padding: 20px !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important; 
        background-color: #ffffffc3 !important; 
        border-radius: 10px !important; 
    }

    #calendar {
        width: 100% !important; 
        height: 600px !important; 
        max-width: 100% !important; 
    }
    .link {
        padding: 10px;
        margin-bottom: 10px;
    }

    .link a {
        color: #333;
        text-decoration: none;
        font-size: 14px;
    }

    .link a:hover {
        color: #666;
        text-decoration: underline;
    }
</style>
<div class="link">
    <a href="{% url 'admin_dashboard'  %}">Admin dashboard</a> >
    <a href="{% url 'room_detail' room.id %}">room {{ room.name }}</a>

</div>
<ul class="room-list">
    {% for room in rooms %}
        <li>
            <a href="{% url 'room_detail' room.id %}">Room {{ room.name }}</a>
        </li>
    {% endfor %}
</ul>

<h1 class="room-name">Room {{ room.name }}</h1>
<div id="calendar-container">
    <div id="calendar"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/dayjs"></script>
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '{% url "get_room_events" room.id %}', 
            eventDisplay: 'auto',
            editable: true,
            eventResizableFromStart: true,
            eventClick: function(info) {
                const details = info.event.extendedProps.details;
                if (details) {
                    let message = 'Booking Details:\n';
                    message += `Booking ID: ${details.id}\n`;
                    message += `Checkin: ${details.Checkin}\n`;
                    message += `Checkout: ${details.Checkout}\n`;
                    message += `Pets: ${details.Pets}\n`;
                    message += `Owner: ${details.Owner}\n`;
                    message += `Phone Number: ${details.ContactNumber}\n`;


    
                    alert(message.trim());  
                }
            },
            eventDrop: function(info) {
                const event = info.event;
                const updatedEvent = {
                    id: event.id,
                    start: event.startStr,
                    end: event.endStr || ''
                };

                fetch('{% url "update_booking_dates" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(updatedEvent)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Event updated successfully!');
                    } else {
                        alert(`Failed to update event: ${data.message}`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            },
            eventResize: function(info) {
                const event = info.event;
                const details = event.extendedProps.details;
                const resizedEvent = {
                    id: event.id,
                    start: event.startStr,
                    end: event.endStr || '',  
                    service: 'Pet Hotel' 
                };

                fetch('{% url "resize_booking" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(resizedEvent)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Event updated successfully!');
                    } else {
                        alert(`Failed to update event: ${data.message}`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            }
        });

        calendar.render();
    });
</script>
    
{% endblock %}
